{% extends 'foods/base.html'%}
{% load static %}
{%block head%}{{block.super}}
<title>Checkout</title>
{%endblock head%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <h1>Hello {{user.get_username}} !</h1>
          <h2>Please fill up the details to confirm your order. </h2>        
        </div>
      
            
        <div class="col-sm-4 offset-1">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-success">Place Order</button>
                </form>
        </div>
          
          
    </div>
</div>
{%endblock content%}