{%extends 'foods/base.html'%}
{%load static%}
{%block head%}{{block.super}}
<title>Contact</title>
{%endblock head%}
{%block content%}
<h2 class="text-center">Feel free to contact us for your requirements. </h2>
<br>
<br>
<h2 class="font-weight-bolder">
<pre>
             You can contact:-
</pre>
</h2>
<br>
<br>
<h1 class="text-center" class="font-weight-bolder">VIKAS MAHATO</h3>
<h2 class="text-center">vikasmahato@gmail.com</h2>
<h2 class="text-center">88092929292</h2>

</div>
{%endblock content%}